In [40]:
#importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
#loading data from csv file to dataframe
df = pd.read_csv('Mobile Payments.csv')
df.head(10)

,Year,Month,Active Agents,Total Registered Mobile Money Accounts (Millions),Total Agent Cash in Cash Out (Volume Million),Total Agent Cash in Cash Out (Value KSh billions)
0,2023,May,334726,77.34,205.88,670.44
1,2023,April,329968,75.96,194.95,615.25
2,2023,March,321149,73.72,204.83,645.80
3,2023,February,323613,74.04,184.82,578.09
4,2023,January,319079,74.41,198.31,589.30
5,2022,December,317983,73.12,207.01,708.06
6,2022,November,315240,73.22,190.46,639.84
7,2022,October,311957,73.22,196.93,646.50
8,2022,September,308799,71.67,189.70,674.47
9,2022,August,310450,70.06,184.81,677.36

In [42]:
#checking if there are any null values
df.isna().sum()

Year                                                 0
Month                                                0
Active Agents                                        0
Total Registered Mobile Money Accounts (Millions)    0
Total Agent Cash in Cash Out (Volume Million)        0
Total Agent Cash in Cash Out (Value KSh billions)    0
dtype: int64

In [43]:
#checking for the datatypes in the dataframe
df.dtypes

Year                                                   int64
Month                                                 object
Active Agents                                          int64
Total Registered Mobile Money Accounts (Millions)    float64
Total Agent Cash in Cash Out (Volume Million)        float64
Total Agent Cash in Cash Out (Value KSh billions)    float64
dtype: object

In [44]:
#checking for dataset info
df.info()
print("----------------------------------------------")
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Year                                               195 non-null    int64
 1   Month                                              195 non-null    object
 2   Active Agents                                      195 non-null    int64
 3   Total Registered Mobile Money Accounts (Millions)  195 non-null    float64
 4   Total Agent Cash in Cash Out (Volume Million)      195 non-null    float64
 5   Total Agent Cash in Cash Out (Value KSh billions)  195 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 9.3+ KB
----------------------------------------------

,Year,Active Agents,Total Registered Mobile Money Accounts (Millions),Total Agent Cash in Cash Out (Volume Million),Total Agent Cash in Cash Out (Value KSh billions)
count,195.000000,195.000000,195.000000,195.000000,195.000000
mean,2014.794872,138882.548718,32.666168,92.778646,254.388035
std,4.714419,102812.520762,22.410557,63.896031,198.166854
min,2007.000000,307.000000,0.020992,0.021714,0.064391
25%,2011.000000,38343.000000,17.611300,32.577750,87.542150
50%,2015.000000,129218.000000,26.333000,89.902400,227.921000
75%,2019.000000,222345.000000,51.203900,150.445500,358.315500
max,2023.000000,334726.000000,77.340000,207.010000,722.520000

From observing the data the columns Active Agents and Total Mobile Money Users only show the total number so i will be adding colums to show the number of new agents and number of new mobile money users per month

In [45]:
#defining an order for months
month_order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

#converting the Month column to a categorical type with the defined order
df['Month'] = pd.Categorical(df['Month'], categories=month_order, ordered=True)
df.reset_index(drop=True, inplace=True)

#sorting the dataframe by Year and Month
df = df.sort_values(by=['Year','Month'])

df.head(10)

,Year,Month,Active Agents,Total Registered Mobile Money Accounts (Millions),Total Agent Cash in Cash Out (Volume Million),Total Agent Cash in Cash Out (Value KSh billions)
194,2007,March,307,0.020992,0.021714,0.064391
193,2007,April,362,0.054944,0.070000,0.220896
192,2007,May,447,0.107733,0.150000,0.483709
191,2007,June,527,0.175652,0.233661,0.720102
190,2007,July,681,0.268499,0.354298,1.065370
189,2007,August,819,0.432555,0.516239,1.579910
188,2007,September,960,0.635761,0.669689,2.069690
187,2007,October,1196,0.875962,0.958908,2.829550
186,2007,November,1379,1.133200,1.221740,3.514950
185,2007,December,1582,1.345270,1.274100,3.770270

In [46]:
#calculating new active agents for each month
df['New Monthly Agents'] = df['Active Agents'].diff().fillna(0)

#calculating new mobile money accounts for each month
df['New Monthly Mobile Money Accounts'] = (df['Total Registered Mobile Money Accounts (Millions)'].diff().fillna(0)) * 1000000

df.head(10)

,Year,Month,Active Agents,Total Registered Mobile Money Accounts (Millions),Total Agent Cash in Cash Out (Volume Million),Total Agent Cash in Cash Out (Value KSh billions),New Monthly Agents,New Monthly Mobile Money Accounts
194,2007,March,307,0.020992,0.021714,0.064391,0.0,0.0
193,2007,April,362,0.054944,0.070000,0.220896,55.0,33952.0
192,2007,May,447,0.107733,0.150000,0.483709,85.0,52789.0
191,2007,June,527,0.175652,0.233661,0.720102,80.0,67919.0
190,2007,July,681,0.268499,0.354298,1.065370,154.0,92847.0
189,2007,August,819,0.432555,0.516239,1.579910,138.0,164056.0
188,2007,September,960,0.635761,0.669689,2.069690,141.0,203206.0
187,2007,October,1196,0.875962,0.958908,2.829550,236.0,240201.0
186,2007,November,1379,1.133200,1.221740,3.514950,183.0,257238.0
185,2007,December,1582,1.345270,1.274100,3.770270,203.0,212070.0